<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg border-2 border-gray-200 rounded-lg shadow-sm p-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm mb-6">
            <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">
              Introduce your Skills and Competencies
            </h2>
          </div>

        <form class="space-y-6" action="#" method="POST">

            <!-- Education fields -->
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="institute_name" class="block text-sm/6 font-medium text-gray-900">Name of institute</label>
                    <div class="mt-2">
                        <input type="text" name="institute_name" id="institute_name" required placeholder="e.g. Harvard University"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                <div>
                    <label for="degree_level" class="block text-sm/6 font-medium text-gray-900">Degree studied</label>
                    <div class="mt-2">
                        <select name="degree_level" id="degree_level"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="HS">High School</option>
                            <option value="AS">Associate</option>
                            <option value="BA">Bachelor</option>
                            <option value="PHD">Doctorate</option>
                            <option value="OT">Other</option>
                        </select>
                    </div>
                </div>

                <!-- Studied dates -->
                <app-date-fields [nameStartDate]="'Employment start date'" [nameEndDate]="'Employment end date:'"/>
                
            </div>

            <!-- Work experience fields -->
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="company_name" class="block text-sm/6 font-medium text-gray-900">Name of the Company</label>
                    <div class="mt-2">
                        <input type="text" name="company_name" id="company_name" required placeholder="e.g. Google"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                <div>
                    <label for="job_title" class="block text-sm/6 font-medium text-gray-900">Job title</label>
                    <div class="mt-2">
                        <input type="text" name="job_title" id="job_title" required placeholder="e.g. Software Engineer"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                
                <!-- work dates -->
                <app-date-fields [nameStartDate]="'Studies start date'" [nameEndDate]="'Studies end date'"/>

                <div class="col-span-2">
                    <label for="job_description" class="block text-sm/6 font-medium text-gray-900">Job Description</label>
                    <div class="mt-2">
                        <textarea name="job_description" id="job_description" rows="4" required
                            placeholder="Describe your responsibilities and achievements..."
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
                    </div>
                </div>
            </div>

            <!-- Skills and Skills Level Fields -->
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="skills" class="block text-sm/6 font-medium text-gray-900">Skills</label>
                    <div class="mt-2">
                        <input type="text" name="skills" id="skills" required placeholder="e.g. Python, Project Management"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                <div>
                    <label for="skill_level" class="block text-sm/6 font-medium text-gray-900">Skill Level</label>
                    <div class="mt-2">
                        <select name="skill_level" id="skill_level"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="BE">Beginner</option>
                            <option value="IN">Intermediate</option>
                            <option value="AD">Advanced</option>
                            <option value="NA">Native</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Competencies and Competencies Level Fields -->
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="competencies" class="block text-sm/6 font-medium text-gray-900">Competencies</label>
                    <div class="mt-2">
                        <input type="text" name="competencies" id="competencies" required placeholder="e.g. Team Leadership, Public Speaking"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                <div>
                    <label for="competencies_level" class="block text-sm/6 font-medium text-gray-900">Competencies Level</label>
                    <div class="mt-2">
                        <select name="competencies_level" id="competencies_level"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="BE">Beginner</option>
                            <option value="IN">Intermediate</option>
                            <option value="AD">Advanced</option>
                            <option value="NA">Native</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Submit
                </button>
            </div>

            <!-- Back Button -->
            <div>
                <a [routerLink]="['/', PERSONAL_INFO_FORM]" class="flex w-full justify-center rounded-md bg-gray-200 px-3 py-1.5 text-sm/6 font-semibold text-gray-700 shadow-xs hover:bg-gray-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>