<div class="col-span-2">
    <!-- Contenedor de fechas con flex para ponerlos uno al lado del otro -->
    <div class="flex gap-4">
        <!-- Campo de fecha de inicio -->
        <div class="flex-1">
            <label for="startDate" class="block text-sm/6 font-medium text-gray-900">Start Date</label>
            <div class="mt-2">
                <input type="date" [(ngModel)]="startDate" (change)="validateDates()" id="startDate" name="startDate"
                    required
                    class="block w-full rounded-md bg-white px-12 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
        </div>

        <!-- Campo de fecha de finalización -->
        <div class="flex-1">
            <label for="endDate" class="block text-sm/6 font-medium text-gray-900">End Date</label>
            <div class="mt-2">
                <input type="date" [(ngModel)]="endDate" (change)="validateDates()" id="endDate" name="endDate"
                    [disabled]="isCurrent" required
                    class="block w-full rounded-md bg-white px-12 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
        </div>
    </div>

    <!-- Checkbox para indicar que la actividad está en curso -->
    <div class="flex items-center gap-4 mt-3">
        <div class="flex items-center flex-shrink-0">
          <input type="checkbox" [(ngModel)]="isCurrent" (change)="onCurrentChange()"
            class="h-4 w-4 text-indigo-600 rounded border-gray-300">
          <span class="ml-2 text-sm text-gray-900 whitespace-nowrap">I am currently doing this</span>
        </div>
        
        <span *ngIf="validationError" class="text-sm text-red-600 flex-shrink-0 ml-4">
          {{ validationError }}
        </span>
      </div>
    
</div>