<div class="flex min-h-screen bg-indigo-50">
  <app-side-bar></app-side-bar>

  <app-alert-modal [isVisible]="showAlertModal" (confirmAction)="confirmDelete()" (cancelAction)="cancelDelete()">
  </app-alert-modal>
  
  <app-edit-modal 
    [isVisible]="showEditModal" 
    [configToEdit]="configToEdit" 
    (saveAction)="updateConfig($event)" 
    (cancelAction)="cancelEdit()">
  </app-edit-modal> 

  <div class="flex-1 p-6 fontCont">
    <h2 class="text-2xl font-bold text-indigo-700 mb-4">
      Settings configuration
    </h2>

    <div class="flex gap-6">
      <!-- Section: Settings Configuration -->

      <div class="flex-1 bg-white shadow-md rounded-lg p-6">
        <section>
          <h3 class="text-xl font-semibold">
            <strong>Personal colors palettes</strong>
          </h3>
          <ol>
            <!-- Elemento fijo: Main configuration -->
            <li class="flex items-center space-x-2 py-1">
              <input type="radio" name="defaultConfig" (change)="selectDefault('main')"
                [checked]="defaultConfig === 'main'" />
              <span>Main configuration</span>

              <!-- 
              <button type="button" (click)="editConfig('main')" class="ml-auto text-blue-500 hover:text-blue-700">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" (click)="deleteConfig('main')" class="text-red-500 hover:text-red-700">
                <i class="fas fa-trash-alt"></i>
              </button>
              -->
            </li>

            <!-- Elemento fijo: Secondary configuration -->
            <li class="flex items-center space-x-2 py-1">
              <input type="radio" name="defaultConfig" (change)="selectDefault('secondary')"
                [checked]="defaultConfig === 'secondary'" />
              <span>Secondary configuration</span>
              <!--
              <button type="button" (click)="editConfig('secondary')" class="ml-auto text-blue-500 hover:text-blue-700">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" (click)="deleteConfig('secondary')" class="text-red-500 hover:text-red-700">
                <i class="fas fa-trash-alt"></i>
              </button>
              -->
            </li>

            <!-- Configuraciones obtenidas de la API -->
            <li *ngFor="let config of configurations" class="flex items-center space-x-2 py-1">
              <input type="radio" name="defaultConfig" (change)="selectDefault(config)"
                [checked]="config.id === defaultDefaultId" />
              <span>{{ config.name }}</span>
              <button type="button" (click)="editConfig(config)" class="ml-auto text-blue-500 hover:text-blue-700">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" (click)="openDeleteModal(config)" class="text-red-500 hover:text-red-700">
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
          </ol>
        </section>


        <section class="mt-4">
          <h3 class="text-xl font-semibold">
            <strong>Name configuration</strong>
          </h3>
          <label for="nameConfig" class="block mt-2">
            Configuration Name
            <input id="nameConfig" type="text" maxlength="25" required (input)="onNameConfigChange($event)"
              [value]="nameConfig" class="ml-2 p-1 border rounded" />
          </label>
        </section>

        <!-- Agrupamos las secciones de Colors y Size en un contenedor flex -->
        <div class="flex gap-6 mt-6">
          <!-- Colors configuration -->
          <section class="flex-1">
            <h3 class="text-xl font-semibold mb-2">
              <strong>Colors configuration</strong>
            </h3>
          
            <label class="flex items-center mt-2">
              <span class="inline-block w-32">Primary Color</span>
              <input
                type="color"
                name="color-primary-input"
                class="border border-gray-300 rounded p-1 w-24 h-10"
                (change)="onColorChange($event, 'primary')"
              />
            </label>
          
            <label class="flex items-center mt-2">
              <span class="inline-block w-32">Secondary Color</span>
              <input
                type="color"
                name="color-secondary-input"
                class="border border-gray-300 rounded p-1 w-24 h-10"
                (change)="onColorChange($event, 'secondary')"
              />
            </label>
          
            <label class="flex items-center mt-2">
              <span class="inline-block w-32">Accent Color</span>
              <input
                type="color"
                name="color-accent-input"
                class="border border-gray-300 rounded p-1 w-24 h-10"
                (change)="onColorChange($event, 'accent')"
              />
            </label>
          
            <label class="flex items-center mt-2">
              <span class="inline-block w-32">Extra Color 1</span>
              <input
                type="color"
                name="color-extra1-input"
                class="border border-gray-300 rounded p-1 w-24 h-10"
                (change)="onColorChange($event, 'extra1')"
              />
            </label>
          
            <label class="flex items-center mt-2">
              <span class="inline-block w-32">Extra Color 2</span>
              <input
                type="color"
                name="color-extra2-input"
                class="border border-gray-300 rounded p-1 w-24 h-10"
                (change)="onColorChange($event, 'extra2')"
              />
            </label>
          </section>
          

          <!-- Size configuration -->
          <section class="flex-1">
            <h3 class="text-xl font-semibold">
              <strong>Size configuration</strong>
            </h3>
            <label for="size-paragraph-input" class="block mt-2">Font size paragraphs
              <input type="number" min="1" name="size-paragraph-input" required
                class="ml-2 p-2 border border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-indigo-300"
                (change)="onSizeChange($event, 'paragraph')" />
            </label>
            <label for="size-title-input" class="block mt-2">Font size titles <br>
              <input type="number" min="1" name="size-title-input" required
                class="ml-2 p-2 border border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-indigo-300"
                (change)="onSizeChange($event, 'title')" />
            </label>
            <label for="size-subtitle-input" class="block mt-2">Font size subtitles 
              <input type="number" min="1" name="size-subtitle-input" required
                class="ml-2 p-2 border border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-indigo-300"
                (change)="onSizeChange($event, 'subtitle')" />
            </label>
          </section>
        </div>

        <section class="mt-4">
          <h3 class="text-xl font-semibold mb-2">
            <strong>Typography configuration</strong>
          </h3>
        
          <label class="flex items-center mt-2">
            <span class="inline-block w-60">Primary Typography</span>
            <input
              type="file"
              id="primary-font"
              name="primary-font"
              accept=".ttf"
              class="w-65 p-2 border border-gray-400 rounded bg-gray-200 cursor-pointer hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-300"
              (change)="onFontChange($event, 'primary')"
            />
          </label>
        
          <label class="flex items-center mt-2">
            <span class="inline-block w-60">Secondary Typography</span>
            <input
              type="file"
              id="secondary-font"
              name="secondary-font"
              accept=".ttf"
              class="w-65 p-2 border border-gray-400 rounded bg-gray-200 cursor-pointer hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-300"
              (change)="onFontChange($event, 'secondary')"
            />
          </label>
        </section>        

        <!-- Section: Buttons (Save and Restore) -->
        <section class="mt-6 flex justify-center gap-6">
          <!-- Restore Button -->
          <button (click)="restoreDefaults()"
            class="w-40 bg-gray-300 text-gray-800 rounded p-3 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-300">
            Restore
          </button>
          <!-- Save Button -->
          <button (click)="saveConfiguration()"
            class="w-40 bg-blue-500 text-white rounded p-3 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-indigo-300">
            Save
          </button>
        </section>
      </div>

      <!-- Section: Preview Card -->
      <div class="flex-1 bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-bold text-indigo-700 text-center mb-4">
          Configuration preview
        </h3>
        <div class="border p-4 rounded-lg min-h-[300px]" [style.backgroundColor]="extraColor1">
          <!-- Título con la fuente primaria -->
          <h1 [style.color]="primaryColor" [style.fontSize]="sizeTitle" [style.fontFamily]="primaryFont"
            [style.borderColor]="extraColor2" class="text-2xl font-bold text-center">
            {{ primaryFontTitle || "No Primary Font Loaded" }}
          </h1>

          <!-- Subtítulo con la fuente secundaria -->
          <h2 [style.color]="secondaryColor" [style.fontSize]="sizeSubtitle" [style.fontFamily]="secondaryFont"
            [style.borderColor]="extraColor2" class="text-xl font-semibold text-center">
            {{ secondaryFontTitle || "No Secondary Font Loaded" }}
          </h2>

          <!-- Párrafos con la fuente primaria -->
          <p [style.color]="secondaryColor" [style.fontSize]="sizeParagraph" [style.fontFamily]="secondaryFont"
            class="text-justify mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit
            amet accumsan arcu. Praesent euismod, nisi vel consectetur interdum,
            nisl nisi venenatis nunc, quis malesuada justo libero ut nulla.
            Integer vel arcu urna. Morbi in libero auctor, aliquet justo eu,
            varius lectus.
          </p>

          <p [style.color]="secondaryColor" [style.fontSize]="sizeParagraph" [style.fontFamily]="secondaryFont"
            class="text-justify mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit
            amet accumsan arcu. Praesent euismod, nisi vel consectetur interdum,
            nisl nisi venenatis nunc, quis malesuada justo libero ut nulla.
            Integer vel arcu urna. Morbi in libero auctor, aliquet justo eu,
            varius lectus.
          </p>
        </div>

        <!-- Configuración de colores -->
        <div class="mt-4">
          <p>
            Primary Color: <span>{{ primaryColor }}</span>
          </p>
          <p>
            Secondary Color: <span>{{ secondaryColor }}</span>
          </p>
          <p>
            Accent Color: <span>{{ accentColor }}</span>
          </p>
          <p>
            Extra Color 1: <span>{{ extraColor1 }}</span>
          </p>
          <p>
            Extra Color 2: <span>{{ extraColor2 }}</span>
          </p>
        </div>

        <!-- Configuración de tamaños -->
        <div class="mt-4">
          <p>
            Font Size Paragraphs: <span>{{ sizeParagraph }}</span>
          </p>
          <p>
            Font Size Titles: <span>{{ sizeTitle }}</span>
          </p>
          <p>
            Font Size Subtitles: <span>{{ sizeSubtitle }}</span>
          </p>
        </div>

        <!-- Información de las fuentes -->
        <div class="mt-4">
          <p>
            Primary Font: <span>{{ primaryFont || "None" }}</span>
          </p>
          <p>
            Secondary Font: <span>{{ secondaryFont || "None" }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>