#leafletMap {
  height: 250px;  /* Altura mínima para visualización */
  width: 100%;
  background-color: #f0f0f0;  /* Fondo temporal para depuración */
}

.leaflet-marker-icon,
.leaflet-div-icon {
  background-image: url('./../../../../assets/icons/marker-icon.png');
}

.leaflet-marker-shadow {
  background-image: url('./../../../../assets/icons/marker-shadow.png');
}

