<form class="mb-5 card p-4 shadow-sm">
    <h3 class="mb-4">Información de Ubicación</h3>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="pais" class="form-label">País</label>
        <input type="text" class="form-control" id="pais">
      </div>
      <div class="col-md-6">
        <label for="ciudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="ciudad">
      </div>
      <div class="col-md-6">
        <label for="calle" class="form-label">Calle</label>
        <input type="text" class="form-control" id="calle">
      </div>
      <div class="col-md-6">
        <label for="idiomas" class="form-label">Idiomas</label>
        <input type="text" class="form-control" id="idiomas">
      </div>
    </div>
  </form>