<div class="d-flex justify-content-center align-items-center vh-100">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm w-100" style="max-width: 500px;">
    <h3 class="mb-4 text-center">Información Personal</h3>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
        <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="text-danger">
          Nombre es requerido.
        </div>
      </div>

      <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" formControlName="apellido">
        <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched" class="text-danger">
          Apellido es requerido.
        </div>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          Email válido es requerido.
        </div>
      </div>

      <div class="col-md-6">
        <label for="sitioPersonal" class="form-label">Sitio personal</label>
        <input type="url" class="form-control" id="sitioPersonal" formControlName="sitioPersonal">
      </div>

      <div class="col-12">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary mt-3 w-100" [disabled]="registerForm.invalid">Enviar</button>
      </div>
    </div>
  </form>
</div>